*{padding: 0;    margin: 0;    border: 0;}
*,*:before, *::after{   -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  box-sizing: border-box;}
:focus, :active {outline: none;}  a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body { height: 100%; width: 100%;font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;  }
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

body{
    background:  #e8e8e8;
}

.wrapper {
    margin: 106px auto auto;
    max-width: 1198px;
    background:  url('../img/Ellipse_1_copy.png') 50% 0 no-repeat;      
}

.header__label {
    margin: 62px auto 28px;
    width: 67px;
    height: 10px;
    opacity: 0.6;
    color: #273d46;
    font-family: "Arial MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}

.header__leading-name{
    margin: 0 auto 80px;
    width: 721px;
    height: 75px;
    color: #273d46;
    font-family: "Times New Roman PSMT";
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
}

.image {
    width: 821px;
    height: 541px;
    margin: 0 auto 107px;
    background:  url('../img/light-man_copy.jpg') center no-repeat;
    border: 10px solid #ffffff;
    box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
}

.description {
    margin: 0 262px 64px 227px;
}

.description span {
    width: 736px;
    height: 257px;
    opacity: 0.8;
    color: #273d46;
    font-family: "Times New Roman PSMT";
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}

.advantages li {
    background:  url('../img/check_icon.png') left 0 no-repeat;
    padding-left: 30px;
    margin: 0 0 20px 0;
}

.advantages_item p {    
    height: 19px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #273d46;
    font-family: "Arial MT";
    font-size: 20px;
    font-weight: 400;    
}

.advantages_item__bold p {
    height: 19px;
    color: #80b7b3;
    font-family: "Arial MT";
    font-size: 20px;
    font-weight: 400;
    font-style: italic;    
}

.advantages_item__italic p {    
    height: 20px;
    color: #273d46;
    font-family: "Arial MT";
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;    
}

.advantages_item__outline p {    
    height: 19px;
    opacity: 0.3;
    color: #273d46;
    font-family: "Arial MT";
    font-size: 20px;
    font-weight: 400;    
    text-decoration: line-through;
}

.description .footer button {    
    margin-top: 59px;
    margin-bottom: 137px;
    width: 199px;
    height: 44px;
    background: url('../img/arrow.png') 151px 50% no-repeat, #80b7b3;
    border-radius: 43px;
    box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
}

.description .footer button p {
   margin: -18px auto auto -30px;
    height: 10px;
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase; 
    letter-spacing: 2.8px;
}